<h1>Creation</h1>

<h2>
  Example <em>of</em>
</h2>

<pre *ngFor="let item of exampleOf$ | async">
    {{ item }}
</pre>

<h2>
  Example <em>ofFoo</em>
</h2>

<pre>
    {{ exampleOfFoo$ | async }}
</pre>

<!------------------------------------------->

<h2>
  Example <em>interval</em>
</h2>

<pre>
    {{ exampleInterval$ | async }}
</pre>

<!------------------------------------------->

<h2>
  Example <em>range</em>
</h2>

<pre>
    {{ exampleRange$ | async }}
</pre>

<!------------------------------------------->

<h2>
  Example <em>timer</em>
</h2>

<pre>
    {{ exampleTimer$ | async }}
</pre>